#App {
  max-width: 480px;
  margin: 0 auto;
  min-height: 100vh;
  max-height: 100vh;
  overflow-y: hidden;
  position: relative;
  word-break: keep-all;
  font-family: 'Noto Sans KR', sans-serif;
  border: 1px solid red;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
}